@model Bki.Model.UI.Credit

@{
    ViewData["Title"] = "Добавить новый кредит";
}

<div class="text-center">
    <h1 class="display-4">Добавить новый кредит</h1>

    <form method="post">
        <div>
            <label>Выберите кредитную организацию</label><br />
            <select asp-for="BankId" asp-items="@ViewBag.Banks"></select>
        </div>
        <br>
        <label>Серия/номер паспорта</label><br/>
        <input type="text" asp-for="Passport" value="1111222222"/><br/><br/>
        <label>Сумма</label><br/>
        <input type="text" asp-for="Amount" value="16000"/><br/><br/>
        <input type="submit" value="Отправить"/>
    </form>
</div>