@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добавить новый кредит</h1>
    
    <form method="post">
        <label>Серия/номер паспорта</label><br />
        <input type="text" name="passport" /><br /><br />
        <label>Сумма</label><br />
        <input type="text" name="amount" /><br /><br />
        <input type="submit" value="Отправить" />
    </form>
</div>
